body {
    margin: 0;
    padding: 0;
    }
.innerWindow{
    background: #fff;
    box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
    height: 300px;
    overflow-y: auto;
    letter-spacing: 0.5px;
	}
#start_button{
    height: 100%;
	margin-top: 0px;
    margin-left: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 6px;
    padding-right: 9px;
}
#start_button p{
    margin: 0;
    margin-top: 3px;
    font-size: 18px;
    font-weight: bold;
	}
#windows_icon{
    background-image: url(/src/windows_slanted-1.png);
    background-repeat: no-repeat;
    background-size: cover;
	height: 30px;
    width: 30px;
	}
.time-z{
    display: flex;
	flex-direction: row;
    justify-content: flex-end;
	align-items: flex-start;
	margin-top: 0; 
    padding-left: 6px;
    padding-right: 9px;
	margin-top: -45px; 
	
	}
	.time-z p{
    font-size: 18px;
    font-weight: bold;
    }
    .bar{
        height: 30px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
        background: silver;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        z-index: 3;
    }
    h1{
        font-size: 20px;
    }
    img{
        height: 20px;
    }
    p{
        font-size: 12px;
    }
    .nav-bar{
        display: flex;
    }
    
    .nav-bar p{
        margin: 2.5px;
        margin-bottom: -2.5px;
        padding: 5px 4px 4px 5px;
        font-size: 11px;
    }
    
    .nav-bar p:hover{
        box-shadow: inset -1px -1px #161616, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
    }
#mydiv{
    position: relative;
    top: 250px; left: 400px; width: 750px;
    z-index: 1000;
}

.name{
    color: black;
    margin: 0;
    text-align: center;
}

#app{
    position: absolute; top: 60%; left: 40%; width: 100%;
}